/* editor styling */

body {
  margin: 0
}

#editor {
  display: flex;
  flex-direction: column;
  height: auto;
  min-height: 100vh;
  background-color: lightgray;
  justify-content: center;
  align-items: center;
  padding: 10vh;
}

#editor #textarea {
  background-color: white;
  width: 60vw;
  height: 80vw;
  padding: 5vw;
  border: none;
}

#editor #textarea:focus {
  outline: none;
}

#editor #toolbar {
  display: flex;
  width: 60vw;
  align-items: center;
  justify-content: flex-start;
  margin: 10px;
  color: gray;
}

#editor #save {
  margin: 10px;
  height: 30px;
  width: 60px;
  border-radius: 5px;
  background-color: dodgerblue;
  border: none;
  color: white;
  font-weight: bold;
  outline: none;
}

#editor #save:active {
  background-color: royalblue;
}
