/* editor styling */

body {
  margin: 0;
  font-family:"aktiv-grotesk", sans-serif;
}

#editor {
  display: flex;
  flex-direction: column;
  height: auto;
  min-height: 100vh;
  background-color: lightgray;
  justify-content: center;
  align-items: center;
  padding: 20vh 0 10vh 0;
}

#editor #textarea {
  background-color: white;
  width: 60vw;
  height: 80vw;
  padding: 5vw;
  border: none;
}

#editor #textarea:focus {
  outline: none;
}

#editor #toolbar {
  display: flex;
  width: 60vw;
  align-items: center;
  justify-content: flex-start;
  margin: 10px;
  color: gray;
}

#editor #save {
  margin: 10px;
  height: 30px;
  width: 60px;
  border-radius: 5px;
  background-color: #5696CC;
  border: none;
  color: white;
  font-weight: bold;
  outline: none;
}

#editor #save:active {
  background-color: #0664B2;
}

/* Navbar Styling */

#navbar {
  position: fixed;
  display: flex;
  align-items: center;
  height: 10vh;
  width: 100vw;
  border-bottom: 3px solid darkgray;
  z-index: 2;
  background-color: white;
}

#navbar img {
  height: 90%;
  margin: 10px;
}
#nav-buttons {
  display: flex;
  align-items: center;

}

#navbar button {
  margin: 5px;
  padding: 5px;
  height: 50%;
  max-width: 20vw;
  border: none;
  outline: none;
  background-color: white;
  cursor: pointer;
  font-size: 1em;
  color: #5696CC;

}

#navbar button:active{
  color: lightgray;
}

#nav-items {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: space-between;
  margin-right: 5vw;
  font-size: 1em;
}

#nav-items h2 {
  max-width: 30vw;
}

/* Login */

#login {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to bottom right, #5696CC, #0664B2)
}

#login input {
  width: 300px;
  height: 50px;
  font-size: 1.2em;
  border: none;
  border-radius: 10px;
  margin: 10vh 0 20px ;
  text-align: center;
}

#login button {
  border: none;
  background-color: #B22321;
  height: 40px;
  width: 100px;
  border-radius: 10px;
  color: white;
  font-size: 1.2em;
}

#login button:disabled {
  background-color: rgb(182, 100, 99);
}

/* Menu */

#menu {
  padding: 10vh 0 10vh 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  min-height: 80vh;
  background: linear-gradient(to bottom right, #5696CC, #0664B2);
}

#menu #newfile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5px;
  height: 250px;
  width: 200px;
  background-color: white;
  border-radius: 10px;
  margin: 20px;
  transition: .3s;
  color: #0664B2;
}

#menu #newfile img{
  width: 120px;
  margin: 5px;
}

#new-filename {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#new-filename input{
  margin: 10px;
  outline: none;
  width: 180px;
  height: 40px;
  border-radius: 10px;
  text-align: center;
  font-size: 1.2em;
  border: 1px solid lightgray;
}

#new-filename button{
  margin: 10px;
  border: none;
  background-color: #0664B2;
  width: 100px;
  height: 30px;
  border-radius: 10px;
  color: white;
}

#new-filename button:disabled {
  background-color: #5696CC;
}

/* Mini Files */
.file {
  padding: 5px;
  text-align: center;
  overflow-wrap: break-word;
  height: 250px;
  width: 200px;
  background-color: white;
  border-radius: 10px;
  margin: 20px;
  transition: .3s;
  color: #0664B2;
  text-decoration: none;
}

#menu #newfile:hover, .file:hover {
  transform: translateY(-10px);
}

.file img {
  width: 120px;
}

h3, h4, h5 {
  margin: 5px;
}

